@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

/* Custom Utilities if needed */
@layer utilities {
  .glass-panel {
    @apply bg-gray-900/50 backdrop-blur-md border border-white/10;
  }
}
